<!-- Window-popup Blog Post Popup -->
{%load static%}


<div class="modal fade" id="blog-post-popup" tabindex="-1" role="dialog" aria-labelledby="blog-post-popup" aria-hidden="true">

	<div class="modal-dialog window-popup blog-post-popup" role="document">

		<div class="modal-content">

			<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon">
					<use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use>
				</svg>
			</a>

			<div class="modal-body">
				<article class="hentry post has-post-thumbnail thumb-full-width">

					<div class="post__author author vcard inline-items">
						<img src="{{user.profileImage.url}}" alt="author">

						<div class="author-date">
							<a class="h6 post__author-name fn">{{user.first_name}} {{user.last_name}}</a>
							is writing a new blog post

						</div>


					</div>

					<div class="post-thumb">
						<img src="{% static 'user_profile_page_settings/profileImages/someImage.jpeg/' %}" alt="photo">
						<h2 class="h1 post-title">Write A New Blog Post!!!</h2>
						<div class="overlay"></div>
					</div>

					<form id = "blog-form" method="POST" enctype="multipart/form-data">
						{% csrf_token %}

						<label class="control-label">Change Blog Image</label>

						<div class="form-group label-floating is-empty">
							{{postBlog.blogImage}}
						</div>
					

						<div class="form-group label-floating is-empty">
							<label class="control-label">Blog Title</label>
							<input type="text" name="title" value="" class="form-control" required="" id="id_blog_title">
						<span class="material-input"></span>
						</div>

						<div class="form-group label-floating is-empty">
							<label class="control-label">Blog</label>
							{{postBlog.blogContent}}
						<span class="material-input"></span>
						</div>
						<div class="add-options-message">
							<br>
							<br>

							<fieldset class="options-message">
									<select id= "id_blog_tag" name="tag" class="form-select">
										<option selected disabled = 'true'>-- Select A Tag --</option>
										{% for questiontag in postBlog.tag %}
											{% if not forloop.first %}	
												{{questiontag.tag}}
												<!-- <option name = "{{questiontag.tag}}" value = '{{questiontag.tag}}'></option> -->

											{% endif %}
										{% endfor %}
									</select>
							</fieldset>


							<input id = "id_blog_type" type = "hidden" name="type" value="Blog" />
							<input id = "id_blog_author" type="hidden" name="author" value="{{user.id}}" />

							<button type="submit" class="btn btn-primary btn-md-2">Publish</button>
							<button class="btn btn-md-2 btn-border-think btn-transparent c-grey">Preview</button>
		
						</div>
					
				</form>


				</article>


			</div>
		</div>
	</div>
</div>

<!-- ... end Window-popup Blog Post Popup -->
