<div class="modal fade" id="create-friend-group-1" tabindex="-1" role="dialog" aria-labelledby="create-friend-group-1" aria-hidden="true">
	<div class="modal-dialog window-popup create-friend-group create-friend-group-1" role="document">
		<div class="modal-content">
			<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
			</a>
			<div class="modal-header">
				<h6 class="title">Create A Social Space </h6>
			</div>

			<div class="modal-body">
                <form method="POST" id="create-social-space" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group label-floating">
                        <label class="control-label">Social Space Name</label>
                        <input class="form-control" name="name" id="space-name" value="" type="text">
                    </div>

                    <div class="form-group with-button">
                        <input class="form-control" name="icon" id="space-icon" value="" type="file">

                        <button class="bg-grey">
                            <svg class="olymp-computer-icon">
                                <use xlink:href="svg-icons/sprites/icons.svg#olymp-computer-icon"></use>
                            </svg>
                        </button>

                    </div>

                    <div class="form-group label-floating is-select">
                        <svg class="olymp-happy-face-icon">
                            <use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                        </svg>
                        <select name="users" id="users" class="selectpicker form-control style-2 show-tick"
                                multiple data-max-options="2" data-live-search="true">
                                {% for f in user.following.all %}
                                <option value="{{f.id}}">{{f.first_name}}</option>
                                {% endfor %}
                        </select>

                    </div>

                    <button class="btn btn-blue btn-lg full-width" type="submit">Create Group</button>
                </form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="search-friend-group-1" tabindex="-1" role="dialog" aria-labelledby="search-friend-group-1" aria-hidden="true">
	<div class="modal-dialog window-popup create-friend-group search-friend-group-1" role="document">
		<div class="modal-content">
			<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
			</a>
			<div class="modal-header">
				<h6 class="title">Search Social Learning Spaces</h6>
			</div>

			<div class="modal-body">
                <form method="POST" id="join-social-space" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="container">
                        <h8 class="title">Space Name</h8>
                    </div>
                    <br>


                    <div class="form-group label-floating is-select">
                        <svg class="olymp-happy-face-icon">
                            <use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use>
                        </svg>
                        <select name="social_spaces" id="social_spaces" class="selectpicker form-control style-2 show-tick"
                                multiple data-max-options="2" data-live-search="true">
                            {% for s in social_spaces %}
                                <option value="{{ s.id }}">{{ s.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button class="btn btn-blue btn-lg full-width" type="submit">Add To Your Learning Space</button>
                </form>
			</div>
		</div>
	</div>
</div>