{%load static%}

<!-- Main Header Groups -->

<div class="main-header">
	<div class="content-bg-wrap bg-group"></div>
	<div class="container">
		<div class="row">
			<div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
				<div class="main-header-content">
					<h1>Welcome to the Forums!</h1>
					<p>Here in your learning space you’ll be able to easily create and manage categories and topics to share with the
	 community! We included some of the most used topics, like general, community and collaborative learning each one with a cool
	  and engaging learning topics so you can have fun with them! </p>
				</div>
			</div>
		</div>
	</div>
	
	<img class="img-bottom" src="{% static 'user_profile_page_settings/img/group-bottom.webp' %}" alt="friends">
</div>

<!-- ... end Main Header Groups -->