# created by virtualenv automatically
virtualenv/
static/user_profile_page_settings/profileImages/
static/user_profile_page_settings/img/
media/static/
migrations
*/__pycache__
templates/home_page/test.html
.DS_Store
media/social_space/
