# created by virtualenv automatically
virtualenv/
static/user_profile_page_settings/profileImages/
media/static/home_page
media/static/user_profile_page_settings

migrations
*/__pycache__
templates/home_page/test.html
.DS_Store
media/social_space/
data
