{%load static%}

<!-- Header-BP -->

<header class="header" id="site-header">

	<div class="page-title">
		<a href="{% url 'home_page:home' %}" class="logo">
			<div class="img-wrap">
				<img loading="lazy" src="{% static 'user_profile_page_settings/profileImages/bounlogo.png' %}" width="34" height="34" alt="Olympus">
			</div>
			<div class="title-block" style = "padding-left: 20px;"}>
				<h6 class="logo-title">Boun Learn</h6>
				<div class="sub-title">SOCIAL LEARNING</div>
			</div>
		</a>
	</div>

	<div class="header-content-wrapper">
		<form class="search-bar w-search notification-list friend-requests">
			<div class="form-group with-button">
				<input class="form-control js-user-search" placeholder="Search here people or pages..." type="text">
				<button>
					<svg class="olymp-magnifying-glass-icon"><use xlink:href="{% static 'user_profile_page_settings/svg-icons/sprites/icons.svg' %}#olymp-magnifying-glass-icon"></use></svg>
				</button>
			</div>
		</form>

		<a href="#" class="link-find-friend">Find Friends</a>

		<div class="control-block">

		

			<div class="author-page author vcard inline-items more">
				<div class="author-thumb">
					<img alt="author" src="{{ user.profileImage.url }}" width="50" height="50" class="avatar">
					<span class="icon-status online"></span>
					<div class="more-dropdown more-with-triangle">
						<div class="mCustomScrollbar" data-mcs-theme="dark">
							<div class="ui-block-title ui-block-title-small">
								<h6 class="title">Your Account</h6>
							</div>

							<ul class="account-settings">
								<li>
									<a href="{% url 'user_profile_page_settings:settings' %}">

										<svg class="olymp-menu-icon"><use xlink:href=" {% static 'user_profile_page_settings/svg-icons/sprites/icons.svg' %} #olymp-menu-icon"></use></svg>

										<span>Profile Settings</span>
									</a>
								</li>
								
								<li>
									<a href="#">
										<svg class="olymp-logout-icon"><use xlink:href="{% static 'user_profile_page_settings/svg-icons/sprites/icons.svg' %} #olymp-logout-icon"></use></svg>

										<span>Log Out</span>
									</a>
								</li>
							</ul>



							<div class="ui-block-title ui-block-title-small">
								<h6 class="title">About Olympus</h6>
							</div>

							<ul>
								<li>
									<a href="#">
										<span>Terms and Conditions</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>FAQs</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Careers</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>Contact</span>
									</a>
								</li>
							</ul>
						</div>

					</div>
				</div>
				<a href="{% url 'user_profile_page_main:profile_page' %}" class="author-name fn">
					<div class="author-title">
						{{user.firstName}} {{user.lastName}} <svg class="olymp-dropdown-arrow-icon"><use xlink:href="{% static 'user_profile_page_settings/svg-icons/sprites/icons.svg' %} #olymp-dropdown-arrow-icon"></use></svg>
					</div>
					<span class="author-subtitle">{{user.occupation}}</span>
				</a>
			</div>

		</div>
	</div>

</header>

<!-- ... end Header-BP -->



