{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>

	<title>coLearn</title>

	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- Main Font -->
	<script src="{%static 'user_profile_page_settings/js/webfontloader.min.js' %}"></script>
	<script>
		WebFont.load({
			google: {
				families: ['Roboto:300,400,500,700:latin']
			}
		});
	</script>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'user_profile_page_settings/Bootstrap/dist/css/bootstrap-reboot.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'user_profile_page_settings/Bootstrap/dist/css/bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'user_profile_page_settings/Bootstrap/dist/css/bootstrap-grid.css' %}">
	
		<!-- Main Styles CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'user_profile_page_settings/css/main.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'user_profile_page_settings/css/fonts.min.css' %}">
	

</head>
<body>

	
{%  include 'user_profile_page_settings/navbar.html' %}




<!-- ... end Responsive Header-BP -->
<div class="header-spacer header-spacer-small"></div>


{%  include 'social_space/social_space_main_header.html' %}


<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block responsive-flex">
				<div class="ui-block-title">
					<div class="h6 title">Co Learning Environment</div>
					<div class="align-right">
						<form class="w-search">
							<div class="form-group with-button">
								<input class="form-control" type="text" placeholder="Search the forums...">
								<button>
									<svg class="olymp-magnifying-glass-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use></svg>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="container">
	<div class="row">
		<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">

			<div class="ui-block">

				
				<!-- Forums Table -->
				
				<table class="forums-table">
				
					<thead>
				
					<tr>
				
						<th class="forum">
							Forum
						</th>
				
						<th class="topics">
							Topics
						</th>
				
						<th class="posts">
							Posts
						</th>
				
				
					</tr>
				
					</thead>
				
					<tbody>
					<tr>
						<td class="forum">
							<div class="forum-item">
								<img src="{% static 'user_profile_page_settings/img/tag.png' %}" alt="forum" width="34" height="34" alt="Olympus">
								<div class="content">
									<a href="{% url 'social_space:social_space_topics' space_id=social_space.id %}" class="h6 title">General</a>
									<p class="text">Have a general question about the community and this learning space write it here!</p>
								</div>
							</div>
						</td>
						<td class="topics">
							<a href="#" class="h6 count">11</a>
						</td>
						<td class="posts">
							<a href="#" class="h6 count">36</a>
						</td>

					</tr>
					<tr>
						<td class="forum">
							<div class="forum-item">
								<img src="{% static 'user_profile_page_settings/img/tag.png' %}" alt="forum" width="34" height="34">
								<div class="content">
									<a href="{% url 'social_space:social_space_topics' space_id=social_space.id %}" class="h6 title">Community</a>
									<p class="text">Engage with our community members and become learning buddies!</p>
								</div>
							</div>
						</td>
						<td class="topics">
							<a href="#" class="h6 count">11</a>
						</td>
						<td class="posts">
							<a href="#" class="h6 count">36</a>
						</td>

					</tr>
					<tr>
						<td class="forum">
							<div class="forum-item">
								<img src="{% static 'user_profile_page_settings/img/tag.png' %}" alt="forum" width="34" height="34">
								<div class="content">
									<a href="{% url 'social_space:social_space_topics' space_id=social_space.id %}" class="h6 title">Collaborative Learning</a>
									<p class="text">Ask your questions, share your learning videos and your blogs</p>
								</div>
							</div>
						</td>
						<td class="topics">
							<a href="#" class="h6 count">11</a>
						</td>
						<td class="posts">
							<a href="#" class="h6 count">36</a>
						</td>

					</tr>

				
					</tbody>
				</table>
				
				<!-- ... end Forums Table -->

			</div>

			
			<!-- Pagination -->
			
			<nav aria-label="Page navigation">
				<ul class="pagination justify-content-center">
					<li class="page-item disabled">
						<a class="page-link" href="#" tabindex="-1">Previous</a>
					</li>
					<li class="page-item"><a class="page-link" href="#">1<div class="ripple-container"><div class="ripple ripple-on ripple-out" style="left: -10.3833px; top: -16.8333px; background-color: rgb(255, 255, 255); transform: scale(16.7857);"></div></div></a></li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item"><a class="page-link" href="#">...</a></li>
					<li class="page-item"><a class="page-link" href="#">12</a></li>
					<li class="page-item">
						<a class="page-link" href="#">Next</a>
					</li>
				</ul>
			</nav>
			
			<!-- ... end Pagination -->

		</div>

		<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Featured Learning Posts</h6>
				</div>
				<div class="ui-block">
					<!-- Post -->

					{% block content %}


					{% for post in users_posts reversed %}

					<article class="hentry post">

						<a name=" {{user.id}}"></a>
							<div class="post__author author vcard inline-items">
								<img src="{{user.profileImage.url}}" alt="author">

								<div class="author-date">
									<a class="h6 post__author-name fn" href="{% url 'user_profile_page_main:profile_page' %}">{{post.author.first_name }} {{post.author.last_name }}</a>
									<div class="post__date">
										<time class="published" datetime="2017-03-24T18:18">
											19 hours ago
										</time>
									</div>
								</div>

								<div class="more">
									<svg class="olymp-three-dots-icon">
										<use xlink:href="{% static 'user_profile_page_settings/svg-icons/sprites/icons.svg' %} #olymp-three-dots-icon"></use>
									</svg>
									<ul class="more-dropdown">
										<li>
											<a href="#">Edit Post</a>
										</li>
										<li>
											<a href="#">Delete Post</a>
										</li>
										<li>
											<a href="#">Turn Off Notifications</a>
										</li>
										<li>
											<a href="#">Select as Featured</a>
										</li>
									</ul>
								</div>

							</div>

							<p>{{post.content}}</p>

							<div class="post-additional-info inline-items">


							<form id="post-form-like" method="POST" enctype="multipart/form-data">
								{% csrf_token %}
								<input id = "postId" type="hidden" name="postId" value="{{post.id}}" />
								<input id = "opinion" type="hidden" name="opinion" value="like" />

								<button type="submit" style = "border: none;" class="post-add-icon inline-items">
									<svg class="olymp-heart-icon">
										<use xlink:href="{% static 'user_profile_page_settings/svg-icons/sprites/icons.svg' %} #olymp-heart-icon"></use>
									</svg>

									<span id="like_count">{{ post.get_total_likes | default:"0" }}</span>


								</button>
							</form>

							<form id="post-form-dislike" method="POST" enctype="multipart/form-data">
								{% csrf_token %}
								<input id = "postId" type="hidden" name="postId" value="{{post.id}}" />
								<input id = "opinion" type="hidden" name="opinion" value="dis_like" />

								<button id="like-button" type="submit" style = "border: none;"  class="post-add-icon inline-items">
									<svg class="olymp-heart-icon" transform="scale(1 -1)" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
										<use xlink:href="{% static 'user_profile_page_settings/svg-icons/sprites/icons.svg' %} #olymp-heart-icon"></use>
									</svg>
									<span id="dislike_count">{{ post.get_total_dis_likes | default:"0" }}</span>
								</button>
							</form>



								<div class="comments-shared">
									<a href="#" class="post-add-icon inline-items">
										<svg class="olymp-speech-balloon-icon">
											<use xlink:href="{% static 'user_profile_page_settings/svg-icons/sprites/icons.svg' %} #olymp-speech-balloon-icon"></use>
										</svg>
										<span>17</span>
									</a>

									<a href="#" class="post-add-icon inline-items">
										<svg class="olymp-share-icon">
											<use xlink:href="{% static 'user_profile_page_settings/svg-icons/sprites/icons.svg' %}#olymp-share-icon"></use>
										</svg>
										<span>24</span>
									</a>
								</div>


							</div>

							<div class="control-block-button post-control-button">

								<a href="#" class="btn btn-control featured-post">
									<svg class="olymp-trophy-icon">
										<use xlink:href="{% static 'user_profile_page_settings/svg-icons/sprites/icons.svg' %} #olymp-trophy-icon"></use>
									</svg>
								</a>

								<a href="#" class="btn btn-control">
									<svg class="olymp-like-post-icon">
										<use xlink:href="{% static 'user_profile_page_settings/svg-icons/sprites/icons.svg' %} #olymp-like-post-icon"></use>
									</svg>
								</a>

								<a href="#" class="btn btn-control">
									<svg class="olymp-comments-post-icon">
										<use xlink:href="{% static 'user_profile_page_settings/svg-icons/sprites/icons.svg' %} #olymp-comments-post-icon"></use>
									</svg>
								</a>

								<a href="#" class="btn btn-control">
									<svg class="olymp-share-icon">
										<use xlink:href="{% static 'user_profile_page_settings/svg-icons/sprites/icons.svg' %} #olymp-share-icon"></use>
									</svg>
								</a>

							</div>

						</article>
					{% endfor %}

					{% endblock content%}

					<!-- ... end Comment Form  -->
						</div>
			</div>


		</div>

	</div>
</div>





<a class="back-to-top" href="#">
	<img src="{% static 'user_profile_page_settings/svg-icons/back-to-top.svg' %}" alt="arrow" class="back-icon">
</a>







<!-- JS Scripts -->
<script src="{% static 'user_profile_page_settings/js/jquery-3.2.1.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/jquery.appear.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/jquery.mousewheel.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/perfect-scrollbar.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/jquery.matchHeight.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/svgxuse.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/imagesloaded.pkgd.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/Headroom.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/velocity.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/ScrollMagic.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/jquery.waypoints.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/jquery.countTo.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/popper.min.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/material.min.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/bootstrap-select.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/smooth-scroll.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/selectize.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/swiper.jquery.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/moment.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/daterangepicker.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/simplecalendar.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/fullcalendar.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/isotope.pkgd.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/ajax-pagination.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/Chart.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/chartjs-plugin-deferred.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/circle-progress.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/loader.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/run-chart.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/jquery.gifplayer.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/mediaelement-and-player.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/mediaelement-playlist-plugin.min.js' %}"></script>
<script src="{% static 'user_profile_page_settings/js/sticky-sidebar.js' %}"></script>

<script src="{% static 'user_profile_page_settings/js/base-init.js' %}"></script>
<script defer src="{% static 'user_profile_page_settings/fonts/fontawesome-all.js' %}"></script>

<script src="{% static 'user_profile_page_settings/Bootstrap/dist/js/bootstrap.bundle.js' %}"></script>

</body>
</html>